*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    height: 500px;
    display: flex;
    margin: auto;
}
button{
    margin: auto;
    height: 36px;
    width: 96px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: rgb(210, 70, 210);
    color: white;
}
h1{
    margin: auto;
}